<!DOCTYPE html>



<html>

<!-- Load static folder link and css -->
{% load static %}

<title>Personalizing Politics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index_style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/main_style.css' %}" />


<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-large w3-white">
    <div class="w3-col s3">
        <a href="/home/" class="w3-button w3-block">
            <!-- <img src="{% static 'polls/images/header.png' %}" alt="logo" /></a> -->
        <img src="../../static/polls/images/header.PNG" alt="logo" /></a>
    </div>
    <div class="w3-col s3">
        <a href="/home/survey" class="w3-button w3-block"><br>Get Started</a>
    </div>
    <div class="w3-col s3">
      <a href="/home/explanation" class="w3-button w3-block"><br>How It Works</a>
    </div>
    <div class="w3-col s3">
      <a href="/home/#contact" class="w3-button w3-block"><br>Contact</a>
    </div>
  </div>
<hr>
</div>

<!-- Content -->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

  <div class="w3-panel">
    <br>
    <h1><b>MIDS Capstone Fall 2017</b></h1>
    <p>Personalizing Politics is a tool that lets you get completely in tune with our Senate landscape. We provide useful tools that match your own views against those of current senators, as well as against upcoming Senate candidates. Moreover, we provide useful information on candidates like probability of winning, battleground state designations, and likely return on donation. Just answer the quick and easy VoteMatch© survey provided, and we'll provide you a set of intuitive tools that allow you to learn and explore. That way, you can support candidates and senators who best align to what is most important to you.</p>
  </div>

  <!-- Slideshow -->
  <div class="w3-container">
    <div class="w3-display-container mySlides">
      <img src="../../static/polls/images/voting.jpg" style="width:100%;opacity:0.8;height:450px;">
      <div class="w3-display-topleft w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">Receive a personal analysis of candidates are best for you</span>
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="../../static/polls/images/horror.jpg" style="width:100%;opacity:0.8;height:450px;">
      <div class="w3-display-middle w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">Find out which current senators align with your personal views</span>
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="../../static/polls/images/burns.png" style="width:100%;opacity:0.8;height:450px;">
      <div class="w3-display-topright w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">Learn which candidates have the highest likelihood of winning</span>
      </div>
    </div>

    <!-- Slideshow next/previous buttons -->
    <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
      <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
      <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>
    
      <div class="w3-center">
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
      </div>
    </div>
  </div>

<!--   <div class="w3-row w3-container">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Get Started</span>
    </div>
      <p class="w3-center"><a onclick="window.location.href='survey'" class="w3-button w3-black w3-round w3-padding-large w3-xlarge">Begin Analysis</a></p>
  </div> -->


  <!-- About -->
<!--   <div class="w3-row w3-container" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What We Offer</span>
    </div>
    <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
      <h3>Details</h3>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    </div>

    <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
      <h3>About</h3>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    </div>

    <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
      <h3>Our</h3>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    </div>

    <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
      <h3>Project</h3>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    </div>
  </div> -->

  <!-- About -->
  <div class="w3-row w3-container" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Project Overview</span>
    </div>
    <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16" id='boxes'>
      <h3>Motivation</h3>
      <p>We want to make it easier for people, just like you, to participate in politics. We think it's important that people vote based on what matters to them, rather than down party lines.</p>
    </div>

    <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16" id='boxes'>
      <h3>What it does</h3>
      <p>Our tool lets you discover candidates that share your values and gives you options to shape our future -- whether by voting for candidates you discover or donating to campaigns that support your values.</p>
    </div>

    <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16" id='boxes'>
      <h3>Ready to begin?</h3>
      <br><br>
      <p class="w3-center"><a onclick="window.location.href='survey'" class="w3-button w3-light-grey w3-round w3-padding-large w3-xlarge">Begin Analysis</a></p>
      <br><br>
    </div>

    <div class="w3-col l3 m6 w3-black w3-container w3-padding-16" id='boxes'>
      <h3>Still not convinced?</h3>
      <p>Go to our detailed explanation page of the why, what, and how.</p>
      <p class="w3-center"><a onclick="window.location.href='survey'" class="w3-button w3-grey w3-round w3-padding-large w3-xlarge">More deets!</a>
  </div>
</div>



  <!-- Who We Are -->
  <div class="w3-row-padding" id="contact">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="../../static/polls/images/kent.jpg" alt="Kent" style="width:100%">
        <div class="w3-container">
          <h3>Kent Owen</h3>
          <p class="w3-opacity">Toronto, Canada</p>
          <!-- <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p> -->
          <p><a href="https://www.linkedin.com/in/kentowen/" target="_blank" class="w3-button w3-light-grey w3-block">Contact</a></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="../../static/polls/images/chris.jpg" alt="Chris" style="width:100%">
        <div class="w3-container">
          <h3>Chris Caudill</h3>
          <p class="w3-opacity">Houston, TX</p>
          <!-- <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p> -->
          <p><a href="https://www.linkedin.com/in/caudillchristopher/" target="_blank" class="w3-button w3-light-grey w3-block">Contact</a></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="../../static/polls/images/stephanie.jpg" alt="Stephanie" style="width:100%">
        <div class="w3-container">
          <h3>Stephanie Fan</h3>
          <p class="w3-opacity">San Francisco, CA</p>
          <!-- <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p> -->
          <p><a href="https://www.linkedin.com/in/stephanie-fan-72728510/" target="_blank" class="w3-button w3-light-grey w3-block">Contact</a></p>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Footer -->

<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
  <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>


<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demodots");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>

</body>
</html>
